<%= form_for(@micropost, data: {turbo: false, turbo_method: :post}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= invisible_captcha %>
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary", data: { disable_with: "Posting.." } %>
<% end %>